
$negro:black;
$beige:beige;
$blanco:white;
$violeta: indigo;
$darkor:darkorchid;

.parrafoCFA{background-color:$negro; color: $blanco;}
.row h3 a{color: $violeta}
.footerBg h3{color: $blanco; text-align: center;}