@import "colores";
@font-face {
	font-family: 'Bebas Neue';
	src: url('../assets/font/BebasNeueRegular.ttf')}
body{background-color: $beige; font-family: 'Bebas Neue', cursive; font-style:normal;}



