<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conoce nuestro Staff y sus respectivos roles">
    <meta name="keywords"  content="Staff Brudda Fran Ian">
    <title>Proyecto Final 1 - C16645</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/estilo.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <img src="../assets/img/cfalogo.png" alt="logoCFA" width="7%">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/staffs.html">Staffs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/scrims.html">Scrims</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/calendario.html">Calendario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </nav> 
            </div>    
        </div>
    </div>
    <h2 class="staff">CONOCE A NUESTRO STAFF</h2>
    <div class="container staffs">
        <div class="row paddingTB">
                <div class="card" style="width: 16rem;">
                    <h3>Brudda</h3>
                    <img src="../assets/img/brudda.png" class="card-img-top" alt="imagenBrudda">
                    <div class="card-body">
                        <p class="card-text">OWNER/CEO - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>Fran</h3>
                    <img src="../assets/img/fran.png" class="card-img-top" alt="imagenFran">
                    <div class="card-body">
                        <p class="card-text">Director - 9z Scrims/ CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>Belleasy</h3>
                    <img src="../assets/img/belleasy.png" class="card-img-top" alt="imagenBelleasy">
                    <div class="card-body">
                        <p class="card-text">Asesor Ejecutivo - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>Claudio</h3>
                    <img src="../assets/img/claudio.png" class="card-img-top" alt="imagenClaudio">
                    <div class="card-body">
                        <p class="card-text">Asesor Administrativo - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>Raven</h3>
                    <img src="../assets/img/raven.png" class="card-img-top" alt="imagenRaven">
                    <div class="card-body">
                        <p class="card-text">Produccion - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>Iancito</h3>
                    <img src="../assets/img/iancito.png" class="card-img-top" alt="imagenIan">
                    <div class="card-body">
                        <p class="card-text">Staff manager - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>Noctaletz</h3>
                    <img src="../assets/img/noctaletz.png" class="card-img-top" alt="imagenNocta">
                    <div class="card-body">
                        <p class="card-text">Web Manager - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>Khalil</h3>
                    <img src="../assets/img/khalil.png" class="card-img-top" alt="imagenKhalil">
                    <div class="card-body">
                        <p class="card-text">Developer - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>Dinosaurio</h3>
                    <img src="../assets/img/dino.png" class="card-img-top" alt="imagenDino">
                    <div class="card-body">
                        <p class="card-text">Developer - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>zEgg</h3>
                    <img src="../assets/img/zegg.png" class="card-img-top" alt="imagenZegg">
                    <div class="card-body">
                        <p class="card-text">Supervisor Brasil - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>Rene</h3>
                    <img src="../assets/img/rene.png" class="card-img-top" alt="imagenZegg">
                    <div class="card-body">
                        <p class="card-text">Supervisor - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>Grindel</h3>
                    <img src="../assets/img/grindel.png" class="card-img-top" alt="imagenGrindel">
                    <div class="card-body">
                        <p class="card-text">Moderador Brasil - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>Yigger</h3>
                    <img src="../assets/img/yigger.png" class="card-img-top" alt="imagenYigger">
                    <div class="card-body">
                        <p class="card-text">Moderador - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>NicooK</h3>
                    <img src="../assets/img/nicook.jpg" class="card-img-top" alt="imagenNicook">
                    <div class="card-body">
                        <p class="card-text">Moderador / Community Manager - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>Panditrax</h3>
                    <img src="../assets/img/panditrax.jpg" class="card-img-top" alt="imagenPanditrax">
                    <div class="card-body">
                        <p class="card-text">Moderador - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>Kruyi</h3>
                    <img src="../assets/img/kruyi.png" class="card-img-top" alt="imagenKruyi">
                    <div class="card-body">
                        <p class="card-text">Produccion - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>Andres</h3>
                    <img src="../assets/img/andres.png" class="card-img-top" alt="imagenAndres">
                    <div class="card-body">
                        <p class="card-text">Helper - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <h3>BroXyy</h3>
                    <img src="../assets/img/broxyy.png" class="card-img-top" alt="imagenBroXyy">
                    <div class="card-body">
                        <p class="card-text">Helper - 9z Scrims/CFA LATAM</p>
                    </div>
                </div>
        </div>
    </div>        
            <!--fin tabla-->
    </section>
        <!--Inicio Footer-->
    <div class="row footerBg">
        <div class="col-lg-12 col-xs-12 footerFlex paddingTB">
            <img src="../assets/img/cfalogo.png" alt="logoCFA" width="10%">
        <div>
            <h3 class="redesSociales">REDES SOCIALES</h3>
            <div class="logos">
                <a href="https://invite.gg/9zScrims"><img src="../assets/img/discord.png" alt="logoDiscord" class="iconFooter" width="10%"></a>
                <a href="https://twitter.com/CFALatam"><img src="../assets/img/twitter.png" alt="logoTwitter" class="iconFooter" width="8%"></a>
            </div>
        </div>
            <h3><a href="../views/contacto.html">CONTACTO</a></h3>
        </div>
    </div>
        <!--Fin Footer-->
        <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>